#IDEA
.idea
**/.idea/**
*.iml
*.ipr
*.iws

#Vue
**/node_modules/**
**/dist/**
**/package.json

#Maven
**/target/**
target


#Eclipse
.settings
.project
.classpath
.metadata
.loadpath
.recommenders
*.tmp
*.bak
*.swp
*~.nib
